@media only screen and (max-width : 2500px) {
	.page-wrapper{
		overflow:hidden;
	}
	
}
@media only screen and (max-width : 992px) {
	.abh-socialList ul li a{
		margin: 0 55px;
	}
	.abh-resume-box h3{
		font-size:18px;
	}
	.abh-single-blog .abh-blog-content h3{
		font-size:18px;
	}
	.abh-home-area .abh_home_img {
		margin-left: -80px;
	}
	
}
@media only screen and (max-width : 991px) {
	.abh-single-details h2{
		font-size:50px;
		line-height: 80px;
	}
	.abh-single-details h3{
		font-size:20px;
	}
	.abh-home-area .abh_home_img {
		margin-left: -71px;
	}
	.abh-socialList ul li a{
		margin: 0 32px;
	}
	.abh-about-img{
		margin-bottom:30px;
	}
	.abh-edu-sec{
		margin-top:40px;
	}
	.abh-testimonial-inner{
		padding: 40px 25px 50px;
	}
	.abh-pricingTable{
		margin-bottom:30px;
	}
	.abh-blog-area .abh-single-blog{
		margin-bottom:30px;
	}
	
}


@media only screen and (max-width: 767px) {
	.abh_home_img{
		display:none;
	}
	.navbar-toggler{
		margin-top:-5px;
	}
	.abh-socialList ul li a{
		margin: 0 18px;
	}
	.abh-section-title p {
		width: 100%;
	}
	#about .abh-about-content p{
		padding-right: 0px;
	}
	.abh-services-icon i{
		margin-bottom:20px;
	}
	.abh-portfolio-area.abh-portfolio-nav .nav {
		display: block;
		text-align: center;
	}
	.abh-portfolio-area .abh-portfolio-nav .nav li {
		float: none;
		display: inline-block;
		padding: 7px 13px;
		margin: 6px 12px;
	}
	.abh-portfolio-area .abh-main-portfolio{
		margin-left:1px;
	}
	.abh-resume-box .abh-time{
		margin-right:20px;
	}
	.abh-main-contact{
		margin-top: 40px;
	}
	.abh-testimonial-item{
		padding:0px 0px 50px 0px;
	}

}

@media only screen and (max-width: 576px) {
	.navbar-toggler{
		margin-top:-5px;
	}
	.abh-socialList ul li a{
		margin: 0 8px;
	}
	.abh-single-details h2{
		font-size:45px;
	}
	.abh-single-details h3{
		font-size:16px;
	}
	.abh-section-title h2{
		font-size:30px;
	}
	#education .abh-section-title h2{
		font-size:25px;
	}
	.abh-portfolio-area .abh-portfolio-nav .nav {
		display: block;
		text-align: center;
	}
	.abh-portfolio-area .abh-portfolio-nav .nav li {
		float: none;
		display: inline-block;
		padding: 7px 13px;
	}
	.abh-portfolio-area .abh-main-portfolio{
		margin-left:1px;
	}
	.abh-main-contact{
		margin-top: 40px;
	}
	.abh-testimonial-inner{
		padding:25px 20px 30px;
	}
	.abh-testimonial-item{
		padding:0px 0px 50px 0px;
	}

}


@media screen and (max-width: 320px) and (min-width: 0px){
	.navbar-toggler{
		margin-top:-5px;
	}
	.abh-content-details h5{
		margin-top:60px;
	}
	.abh-single-details h2{
		font-size:35px;
	}
	.abh-single-details h3{
		font-size:16px;
	}
	.abh-socialList ul li a{
		margin: 0 12px;
		font-size:30px;
	}
	#education .abh-section-title h2{
		font-size:22px;
	}
	#home .abh-themes-btn{
		margin-bottom:15px;
	}
	.abh-section-title h2{
		font-size:30px;
	}
	.abh-resume-box .abh-time{
		font-size:20px;
	}
	.abh-portfolio-area .abh-portfolio-nav .nav {
		display: block;
		text-align: center;
	}
	.abh-portfolio-area .portfolio-list .nav li {
		float: none;
		display: inline-block;
		padding: 7px 8px;
	}
	.abh-testimonial-info .abh-testimonial-image{
		margin-bottom:30px;
	}
	.abh-main-contact{
		margin-top: 30px;
	}
	.abh-portfolio-area .abh-main-portfolio{
		margin-left:1px;
	}
	.abh-testimonial-item{
		padding:0px 0px 50px 0px;
	}


}